<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="webEOCInboundAdapterServiceBean" class="com.esri.geoevent.solutions.adapter.webeoc.WebEOCInboundAdapterService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<bean id="webEOCOutboundAdapterServiceBean" class="com.esri.geoevent.solutions.adapter.webeoc.WebEOCOutboundAdapterService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="webEOCInboundAdapterService" ref="webEOCInboundAdapterServiceBean" interface="com.esri.ges.adapter.AdapterService"/>
	<service id="webEOCOutboundAdapterService" ref="webEOCOutboundAdapterServiceBean" interface="com.esri.ges.adapter.AdapterService"/>
</blueprint>